


  <div class="row ">
<!--    <div class="col-md-12">-->
<!--      <button mat-button color="warn" (click)="onClick()">-->
<!--        <mat-icon>file_upload</mat-icon>-->
<!--        {{text}}-->
<!--      </button>-->
<!--      <br/>-->
<!--      <ul>-->
<!--        <li *ngFor="let file of files" [@fadeInOut]="file.state">-->
<!--          <mat-progress-bar [value]="file.progress"></mat-progress-bar>-->
<!--          <span id="file-label">-->
<!--            {{file.data.name}}-->
<!--            <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">-->
<!--            <mat-icon>refresh</mat-icon></a>-->
<!--            <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">-->
<!--            <mat-icon>cancel</mat-icon></a>-->
<!--            </span>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <input type="file" id="fileUpload" name="fileUpload" multiple="multiple"-->

<!--             accept="{{accept}}" style="display:none;"/>-->
<!--    </div>-->
    <div class="col-md-6 offset-md-3 documents-main">
      <mat-card>
        <h3>Політика конфеденційності</h3>
        <cdk-virtual-scroll-viewport  [itemSize] = "20" class="agreement-section">
          <div>
            Эта Политика конфиденциальности (далее - «Политика») разработана ООО «УАПРОМ» (код ЕГРПОУ: 36507036, адрес: 02121, г. Киев, ул. Харьковское шоссе, 201-203, корп. 2-А, буква «Ф», в дальнейшем - «Компания» и/или «Администрация Сайта») в соответствии с действующим законодательством Украины, в том числе, но не исключительно, Закона Украины «О защите персональных данных» от 01 июня 2010 № 2297-VI относительно Пользователей Web-сервиса drivvy.com и устанавливает порядок получения, сбора, накопления, хранения, обработки, использования, обеспечения защиты и раскрытия персональных данных (далее - «Данные ») Пользователей Сайта.

            Под Данными понимается любая информация, которая прямо или косвенно относится к конкретному пользователю. Это может быть: имя, фамилия, адрес электронной почты, номер телефона, регион проживания, IP-адрес, данные об устройствах (компьютер, тип браузера, операционная система мобильного устройства), используемых Пользователем, сообщения (информация, содержится в переписке между пользователями, а также в переписке с администрацией сайта), другая информация, с помощью которой осуществляется коммуникация, которая по желанию пользователя предоставляется им с помощью регистрационной формы и/или при заполнении собственного Профиля на Сайте, при написании сообщения или отзыва, или информация, получена при устной коммуникации Пользователя и Администрации Сайта.

            Под обработкой Данных понимается любые действия с Данными в том числе, но не исключительно: доступ, предоставление, распространение, сбор, систематизация, хранение, накопление, запись, передача, блокировка, удаление, уточнение, обновление и/или изменение, обезличивание и другие способы использования Данных Компанией.

            Распорядителем Данных является Общество с ограниченной ответственностью «УАПРОМ» (код ЕГРПОУ: 36507036).

            1.2. Пользователь, осуществив регистрацию на Сайте, внося при этом свои персональные Данные и/или предоставляя эти Данные другим путем, и/или осуществляя любые действия в рамках web-сервиса drivvy.com и/или используя любую часть сайта и/или путем предоставления согласия  —  активировав кнопку «зарегистрироваться» через форму сайта (галочка), выражает свое согласие с положением данной Политики и предоставляет ООО «УАПРОМ», а также третьим лицам, которые предоставляют услуги ООО «УАПРОМ», в частности, но не исключительно, осуществляя обработку платежей, доставку, разрешение на обработку своих персональных данных.

            Пользователи могут предоставлять Данные самостоятельно путем размещения таких данных на Сайте или сообщая через каналы телефонной связи и/или на электронный и/или на почтовый адрес Общества или Данные могут предоставляться с других источников (в соответствии с п. 3 данной Политики), например, из отзывов Пользователей (оценка, комментарии, подтверждение информации) или другая информация от третьих лиц предоставленая   в ходе направления претензий, жалоб и/или при рассмотрении споров, и/или информация из общеизвестных источников в сети Интернет.

            1.3. Пользователь не имеет права использовать web-сервисом drivvy.com, если он не согласен с условиями данной Политики.

            1.4. Пользователь признает, что в случае его небрежного отношения к безопасности и защиты своих Данных и данных по авторизации (пароль, логин), третьи лица могут получить несанкционированный доступ к учетной записи и Данных пользователя. Компания не несет ответственности за убытки, причиненные таким доступом.
          </div>

          </cdk-virtual-scroll-viewport>
        <mat-slide-toggle style="margin-top: 30px;"
          class="example-margin"
          color="primary"
          >
          Я прочитав і приймаю умови
        </mat-slide-toggle>
      </mat-card>
    </div>

  </div>


